/* Task2: */
.container{
   background-color: blue;
}

/* Task8: */
.color{
    width: 100%;
    color: aqua;
    border: 1px solid black;
    border-radius: 3px;
}
.border{
    border: 1px solid red;
}
.change{
    border: 1px solid greenyellow;
}